<a href="https://colab.research.google.com/github/sharanyaa31/Adopted-User/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
data1 = pd.read_excel("/Records Matching Task.xlsx")

In [66]:
data1.head()

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075  3.0
1  CA-2014-100090  FUR-TA-10003715  3.0
2  CA-2014-100090  OFF-BI-10001597  6.0
3  CA-2014-100293  OFF-PA-10000176  6.0
4  CA-2014-100328  OFF-BI-10000343  1.0

In [67]:
data1.info

<bound method DataFrame.info of             Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075  3.0
1     CA-2014-100090  FUR-TA-10003715  3.0
2     CA-2014-100090  OFF-BI-10001597  6.0
3     CA-2014-100293  OFF-PA-10000176  6.0
4     CA-2014-100328  OFF-BI-10000343  1.0
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100  3.0
9474  US-2017-169551  OFF-ST-10004835  3.0
9475  US-2017-169551  TEC-AC-10002018  3.0
9476  US-2017-169551  TEC-AC-10003033  2.0
9477  US-2017-169551  TEC-PH-10001363  2.0

[9478 rows x 3 columns]>

In [68]:
data1['Data1_Unique_ID'] = data1['Order ID']+data1['Product ID']
data1

            Order ID       Product ID  Qty                Data1_Unique_ID
0     CA-2014-100006  TEC-PH-10002075  3.0  CA-2014-100006TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328OFF-BI-10000343
...              ...              ...  ...                            ...
9473  US-2017-169551  OFF-PA-10004100  3.0  US-2017-169551OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835  3.0  US-2017-169551OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018  3.0  US-2017-169551TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033  2.0  US-2017-169551TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363  2.0  US-2017-169551TEC-PH-10001363

[9478 rows x 4 columns]

In [69]:
data2 = pd.read_excel("/Records Matching Task (1).xlsx")

In [70]:
data2.head()

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075  3.0
1  CA-2014-100090  FUR-TA-10003715  3.0
2  CA-2014-100090  OFF-BI-10001597  6.0
3  CA-2014-100293  OFF-PA-10000176  6.0
4  CA-2014-100328  OFF-BI-10000343  1.0

In [71]:
data2.info

<bound method DataFrame.info of             Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075  3.0
1     CA-2014-100090  FUR-TA-10003715  3.0
2     CA-2014-100090  OFF-BI-10001597  6.0
3     CA-2014-100293  OFF-PA-10000176  6.0
4     CA-2014-100328  OFF-BI-10000343  1.0
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100  3.0
9474  US-2017-169551  OFF-ST-10004835  3.0
9475  US-2017-169551  TEC-AC-10002018  3.0
9476  US-2017-169551  TEC-AC-10003033  2.0
9477  US-2017-169551  TEC-PH-10001363  2.0

[9478 rows x 3 columns]>

In [72]:
data2['Data2_Unique_ID'] = data2['Order ID']+data2['Product ID']
data2

            Order ID       Product ID  Qty                Data2_Unique_ID
0     CA-2014-100006  TEC-PH-10002075  3.0  CA-2014-100006TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328OFF-BI-10000343
...              ...              ...  ...                            ...
9473  US-2017-169551  OFF-PA-10004100  3.0  US-2017-169551OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835  3.0  US-2017-169551OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018  3.0  US-2017-169551TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033  2.0  US-2017-169551TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363  2.0  US-2017-169551TEC-PH-10001363

[9478 rows x 4 columns]

In [73]:
Final_data = data1.merge(data2, how='outer', left_on=['Data1_Unique_ID'], right_on=['Data2_Unique_ID'])

In [75]:
Final_data

,Order ID_x,Product ID_x,Qty_x,Data1_Unique_ID,Order ID_y,Product ID_y,Qty_y,Data2_Unique_ID
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715
2,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597
3,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176
4,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343
...,...,...,...,...,...,...,...,...
9473,US-2017-169551,OFF-PA-10004100,3.0,US-2017-169551OFF-PA-10004100,US-2017-169551,OFF-PA-10004100,3.0,US-2017-169551OFF-PA-10004100
9474,US-2017-169551,OFF-ST-10004835,3.0,US-2017-169551OFF-ST-10004835,US-2017-169551,OFF-ST-10004835,3.0,US-2017-169551OFF-ST-10004835
9475,US-2017-169551,TEC-AC-10002018,3.0,US-2017-169551TEC-AC-10002018,US-2017-169551,TEC-AC-10002018,3.0,US-2017-169551TEC-AC-10002018
9476,US-2017-169551,TEC-AC-10003033,2.0,US-2017-169551TEC-AC-10003033,US-2017-169551,TEC-AC-10003033,2.0,US-2017-169551TEC-AC-10003033
9477,US-2017-169551,TEC-PH-10001363,2.0,US-2017-169551TEC-PH-10001363,US-2017-169551,TEC-PH-10001363,2.0,US-2017-169551TEC-PH-10001363

How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)

In [78]:
Present_in_Data1_missing_in_data2 = Final_data[Final_data['Data2_Unique_ID'].isna()]

In [81]:
Present_in_Data1_missing_in_data2

Empty DataFrame
Columns: [Order ID_x, Product ID_x, Qty_x, Data1_Unique_ID, Order ID_y, Product ID_y, Qty_y, Data2_Unique_ID]
Index: []

In [60]:
Present_in_Data1_missing_in_data2.shape[0]

0

How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [61]:
Present_in_Data2_missing_in_data1 = Final_data[Final_data['Data1_Unique_ID'].isna()]
Present_in_Data2_missing_in_data1

Empty DataFrame
Columns: [Order ID_x, Product ID_x, Qty_x, Data1_Unique_ID, Order ID_y, Product ID_y, Qty_y, Data2_Unique_ID]
Index: []

In [82]:
Present_in_Data2_missing_in_data1.shape[0]

0

In [83]:
Present_in_Data2_missing_in_data1['Qty_y'].sum()

0.0